
*.iobj
*.ipdb
*.tlog
*.obj
*.pdb
*.opendb
*.db-shm
*.db-wal
*.db
*.db
ovr_dummy/x64/Release/ovr_test.vcxproj.FileListAbsolute.txt
ovr_test/x64/Release/ovr_test.vcxproj.FileListAbsolute.txt
CustomHMD/.vs/CustomHMD/v16/.suo
CustomHMD/.vs/CustomHMD/v16/Browse.VC.db
CustomHMD/.vs/CustomHMD/v16/ipch/AutoPCH/57deaa27be9a260f/OCULUSTOUCHLINK.ipch
CustomHMD/.vs/CustomHMD/v16/ipch/AutoPCH/6aa4efa150b40deb/DRIVER_SAMPLE.ipch
CustomHMD/.vs/CustomHMD/v16/ipch/AutoPCH/e9a9b97699e7d969/DRIVERLOG.ipch
CustomHMD/Release/CustomHMD.log
*.exp
CustomHMD/Release/x64/driver_OculusTouchLink.lib
*.ipch
ovr_test/x64/Release/ovr_test.log
ovr_test/.vs/ovr_test/v16/.suo
ovr_test/.vs/ovr_test/v16/Browse.VC.db
ovr_dummy/x64/Release/ovr_test.log
ovr_dummy/x64/Release/ovr_dummy.log
ovr_dummy/x64/Release/ovr_dummy.vcxproj.FileListAbsolute.txt
ovr_test/.vs/ovr_test/v16/.suo
CustomHMD/Release/x64/driver_OculusTouchLink.dll.universe_31.7z
CustomHMD/.vs/CustomHMD/v16/.suo
CustomHMD/.vs/CustomHMD/v16/Browse.VC.db
ovr_test/.vs/ovr_test/v16/.suo
ovr_test/.vs/ovr_test/v16/Browse.VC.db
ovr_test/x64/Release/ovr_test.Build.CppClean.log
CustomHMD/.vs/CustomHMD/v16/Browse.VC.db
CustomHMD/.vs/CustomHMD/v16/.suo
