*.iobj
*.ipdb
*.tlog
*.obj
*.pdb
*.opendb
*.db-shm
*.db-wal
*.db
*.exp
CustomHMD/Release/x64/driver_OculusTouchLink.lib
*.ipch
CustomHMD/Release/x64/driver_OculusTouchLink.dll.universe_31.7z
**/.vs
*.recipe
*.vcxproj
*.log
ovr_test/x64/Release/ovr_test.vcxproj.FileListAbsolute.txt
